html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
ul, ol, li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

}

h1 {
  font-seze: 2.5rem;
  line-height: 1.2;
  font-weight: bold;
  color: #6366f1;
}

h2 {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.375;
  font-weight: bold;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: normal;
}

small {
  font-size: 0.875rem;
  line-height: 1.4;
  font-weight: normal;
}

x-small {
  font-size: 0.75rem;
  line-height: 1.3;
  font-weight: normal;
}
